:root {
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
    --cancan: #D594B3;
    --peacock-green: #28494C;
    --red-violet: #CC3596;
    --pink: #ed83e4;
    --light-blue: #86bcf9;
    --purple: #b28ff8;
    --kabul: #6A4D44;
    --dark-bg: rgb(4, 20, 27);
    --background:var(--dark-bg);
    --text-color: rgba(236, 236, 236, 0.85);
    --title-color:rgba(236, 236, 236, 0.85);
    --contrast-color: var(--red-violet);
    --button-background: ${(props) =>
      props.mode === "light" ? "var(--peacock-green)" : "var(--cancan)"};

    font-family: 'Open Sans', sans-serif;
    @media (prefers-color-scheme: light){
      --background: white;
      --text-color: black;
    }
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: var(--background);
  color: var(--text-color);
  img, picture {

    img {
      filter: none;
    }
  }

  a, button {
  color: var(--text-color);
  background-image: none;
  color: var(--contrast-color);
  border-bottom: 1px solid var(--contrast-color);
  text-shadow: none;
  text-transform: none;
  text-decoration: none;
  width: fit-content;
  &:focus,
  &:hover {
    transform: scale(1.1)t;
  }
}
a:visited {
  color: var(--contrast-color);
}
pre, code {
  text-transform: none;
}
code[class*="language-"] {
  padding:0;
}
pre[class*="language-"] {
  margin-bottom: 1rem;
  border-color: var(--peacock-green);
  background: var(--dark-bg);
  .token.keyword, .token.property, .token.selector, .token.constant, .token.symbol, .token.builtin {
    color: var(--pink);
  }
  .token.attr-name, .token.attr-value, .token.string, .token.char, .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable, .token.inserted {
    color: var(--light-blue);
  }
}
code {
  padding: .2em .4em;
  transform: scale(85%);
  background-color: rgba(240, 246, 252, 0.15);
  border-radius: 2px;

  color: var(--contrast-color);
}
#newsletterFrame {
  padding: 1rem;
  border-radius: 8px;
  background: var(--dark-bg);
}
blockquote {
  border-left: 0.54375rem solid var(--red-violet);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  > a, > a:visited {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: none;
  }
}

}

.row {
  display: flex;
  flex-direction: row;
}
